#bj-table-top
{
  width: 400px;
  position: relative; top: 0px; left: 50px; 
}

#table-img 
{
 position: relative; bottom: 60px; left: 0px; z-index: 0;
}

#table-img img 
{
  height: 300px;
}

#dealer 
{
  width: 450px;
  height: 100px;
  position: relative; top: 0px; left: 0px; 
}

#player 
{
  width: 450px;
  height: 100px;
  position: relative; bottom: 120px; left: 0px; 
}

div.card 
{
  float: left;
  display: inline;
  margin: 0px 0px 0px 5px;
  position: relative;  z-index: 1;
}

#bj-user-opts 
{
  float: left;
  display: inline;
  margin: 10px;
  width: 450px; 
  padding: 10px;  
  position: relative; left: 50px; bottom: 120px; z-index: 1;
  height: 120px;
}

#bj-status 
{
  float: left;
  display: inline;
  margin: 10px;
  padding: 5px; 
  width: 160px; 
  position: relative; left: 80px;  bottom: 500px; z-index: 1; 
  height: 130px; 
}

div.opt-element
{ 
  float: left;
  margin: 5px; 
  width: 100px;
  border: 0px;
}

div.opt-element input
{
  width: 100px;
}

div.status-element
{
  margin: 5px;
  width: 100px;
}

div.status-element-result
{
  position: relative; right: 50px; top: 40px;
}

div.status-element-result h1
{
   line-height: 32px;
   text-align: center;
}

div.hidden-opt-element input
{
  visibility: hidden;
}

#accessible-hand
{
  float: left; 
  position: absolute; top: 100px;
}