<div id="cash_out_message">

<div id="c_top">
  <%= image_tag "web/round_div_top_2.gif" %>
</div>

<div id="cash_out_message_body">
 <h2>Congratulations... You have broken the bank at HacmeCasino!!!!</h2>
</div>

<div id="c_bottom">
  <%= image_tag "web/round_div_bottom_2.gif" %>
</div>

</div>